.. START: {{ self._TemplateReference__context.name }}

{{ macros.create_heading(3,'Dell Precision 3431, Hardware Assembly', true, ) }}

.. important::

    These assembly steps and images are intended to be used by someone with previous experience and knowledge of electronics assembly including following proper :term:`ESD` procedures and are provided for use at user's own risk.

    .. only:: html

        See :download:`Reference: OEM Dell Precision 3431 Workstation Service Manual </common_docs/pdfs/dell_3431/precision-3431-workstation_service-manual_en-us.pdf>`

#.  Remove top cover from system by sliding *Blue Lever* at rear of system to right. Then use grip on cover to slide cover rearward from front of system to where it can be lifted up and set aside.

    .. figure:: /images/dell/precision_3431/assembled_rear.png
        :scale: 25
        :alt: Dell Precision 3431, Assembled, Rear View
        :align: center

        Dell Precision 3431, Assembled, Rear View

    {{ macros.sign_off_table(['Dell Precision 3431 Workstation']) }}

#.  Remove Factory 2.5/3.5 inch :term:`HDD` Mount from factory :term:`HDD` Mount Cage:

    #.  Disconnect SATA Power cable from :term:`HDD` Mount harness
    #.  Using care, remove remaining cabling from being attached to :term:`HDD` Mount in order for it to be removed without obstacles
    #.  Using the lever with arrow on it, pull level towards front of system and lift out :term:`HDD` Mount and set aside

    .. figure:: /images/dell/precision_3431/factory_cover_off.png
        :scale: 25
        :alt: Dell Precision 3431, Top Cover Removed
        :align: center

        Dell Precision 3431, Top Cover Removed

    .. figure:: /images/dell/precision_3431/factory_hdd_mount_removed.png
        :scale: 25
        :alt: Dell Precision 3431, HDD Mount Removed
        :align: center

        Dell Precision 3431, HDD Mount Removed

    {{ macros.sign_off_table(['Dell Precision 3431 Workstation']) }}

#.  Remove Factory :term:`HDD` Mount Cage from system:

    #.  Using care, remove cabling from being attached to :term:`HDD` Cage lever in order for it to be removed without obstacles
    #.  Using care, lift up on three tabs of system front bezel cover, so that it is tilted away from system frame and not locking in :term:`HDD` Cage edge
    #.  Using the lever with arrow on it, pull level towards rear of system and lift out :term:`HDD` Mount and set aside

    .. figure:: /images/dell/precision_3431/factory_hdd_cage_removal_cable_prep.png
        :scale: 25
        :alt: Dell Precision 3431, HDD Cage Cabling Unrouted
        :align: center

        Dell Precision 3431, HDD Cage Cabling Unrouted

    .. figure:: /images/dell/precision_3431/factory_hdd_cage_removed.png
        :scale: 25
        :alt: Dell Precision 3431, HDD Cage Removed
        :align: center

        Dell Precision 3431, HDD Cage Removed

    {{ macros.sign_off_table(['Dell Precision 3431 Workstation']) }}

#.  Replace (or Install) PCIe NVMe M.2 SSD Drive system:

    #.  Using care, unscrew Phillips screw at edge of :term:`SSD` and set aside
    #.  Using care, lift up on screw edge of :term:`SSD` to 45 degree angle and then pull out very carefully from PCIe NVMe M.2 connector and set aside. Take care of silicon sponge-like heatsink (If factory installed)
    #.  Using care, remove and install in same location silicon sponge-like heatsink from removed :term:`SSD` (If factory installed) onto new :term:`SSD`
    #.  Using care, install new :term:`SSD` in same manner as removal by inserting device into PCIe NVMe M.2 connector at a 45 degree and ensuring it is seated fully, then tilting down to line up screw mount and install screw.
    #.  Verify :term:`SSD` is mounted correctly and fully in connector before continuing.

    .. figure:: /images/dell/precision_3431/pcie_nvm_ssd_replacement01.png
        :scale: 25
        :alt: Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (1 of 4)
        :align: center

        Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (1 of 4)

    .. figure:: /images/dell/precision_3431/pcie_nvm_ssd_replacement02.png
        :scale: 25
        :alt: Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (2 of 4)
        :align: center

        Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (2 of 4)

    .. figure:: /images/dell/precision_3431/pcie_nvm_ssd_replacement03.png
        :scale: 25
        :alt: Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (3 of 4)
        :align: center

        Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (3 of 4)

    .. figure:: /images/dell/precision_3431/pcie_nvm_ssd_replacement04.png
        :scale: 25
        :alt: Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (4 of 4)
        :align: center

        Dell Precision 3431, PCIe NVMe M.2 SSD Replacement//Installation (4 of 4)

    {{ macros.sign_off_table(['Dell Precision 3431 Workstation']) }}

.. END: {{ self._TemplateReference__context.name }}
